<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>500 Internal Server Error</title>
</head>
<body>
        <h1>Internal Server Error</h1>
        <p>{{.}}</p>
        <hr>
</body>
<address>This is not an HTTP server. It's an OlricMQ client.</address>
</html>
