<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Index of /releases</title>
</head>
<body>
<h1>Index of /releases</h1>
<table>
	<tbody>
		<tr>
			<th>
				<p>Name</p>
			</th>
			<th>
				<p>Last modified</p>
			</th>
			<th>
				<p>Size</p>
			</th>
		</tr>
		<tr>
			<th colspan="5">
				<hr>
			</th>
		</tr>
		<tr>
			<td>
				<a href="../">Parent Dir</a>
			</td>
		</tr>
		{{range $index, $element := .}}
		<tr>
			<td>
                                <a href={{.Name}}>{{.Name}}</a>
			</td>
			<td align="right">{{.ModDate}} </td>
			<td align="right">{{.Size}}</td>
		</tr>
		{{end}}
		<tr>
			<th colspan="5">
				<hr>
			</th>
		</tr>
	</tbody>
</table>
<address>This is an OlricMQ client.</address>
</body>
</html>
